*.retry
.DS_Store
*.swp
.vagrant/
.vault_pass.txt
*.pyc
mongodb-data
postgres-data
sqlite-data
__pycache__
.env*
.env.*
.terraform
*.tfstate
backups
letsencrypt/accounts/acme*
letsencrypt/certs/*.pem
mitogen-*
