{% extends "base.alert.html.j2" %}

{% block h1_title %}
  <h1 class="title">Edit Price Alert</h1>
{% endblock %}

{% block form_action_url %}
  <form class="form-horizontal" action="{{url_for('alert_edit', hash=hash)}}" method="post">
{% endblock %}

{% block form_submit %}
  {% if current_user.is_authenticated %}
      <a href="{{url_for('alerts')}}" class="button is-danger mr-2">Cancel Changes</a>
      <button class="button is-primary">Save Changes</button>
  {% else %}
      <button class="button is-primary" title="Login or Register" disabled>Save Changes</button>
  {% endif %}
{% endblock %}

{# vim: set ts=4 sw=2 tw=0 ft=jinja2.html #}
