<h1>Hello {{user.email}},</h1>

<p>Thanks for signing up to {{APP_TITLE}}, We're happy to have you. Please click the following link to activate your account:</p>

<p><a href="{{confirm_url}}">{{confirm_url}}</a></p>

<p>{{APP_TITLE}} Team</p>
