<!-------------------------->
<!-- start footer section -->
<!-------------------------->

<!--<footer class="footer">-->
  <!--<div class="container">-->
    <!--<div class="content has-text-centered">-->
      <!--<p>Donations-->
      <!--</p>-->
      <!--<p>-->
        <!--BTC: <strong>14DSQGwK1MQJ1SvihrZqmxW4wVXF9o8ExN</strong> /-->
        <!--ETH: <strong>0xd417223647a6C343De57cBa7FCd3634FCfAEECdD</strong>-->
      <!--</p>-->
  <!--</div>-->
<!--</footer>-->

<!------------------------>
<!-- end footer section -->
<!------------------------>

{# vim: set ts=8 sw=4 tw=0 ft=jinja2.html #}
