<!-------------------------->
<!-- start header section -->
<!-------------------------->
<section class="hero is-big is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Crytocurrency Alerting</h1>
      <h2 class="subtitle">Get notified when a coin goes above or below a price target. No bullshit.</h2>
    </div>
  </div>
</section>
<!------------------------>
<!-- end header section -->
<!------------------------>

{# vim: set ts=8 sw=4 tw=0 ft=jinja2.html #}
