{% extends "base.html.j2" %}
{% block content %}
<h1 class="title">Sign Up Disabled</h1>
<hr>
<div class="content has-text-left">
  <p>
    <strong>Notice:</strong> Due to a overwhelming popularity
    <a href='{{APP_URL}}'>{{APP_TITLE}}</a> has to temporarily disable new
    user registrations.
  </p>

  <p>
    We apologize for any inconvenience caused.
  </p>
</div>
{% endblock %}

{# vim: set ts=8 sw=4 tw=0 ft=jinja2.html #}
